<div *ngIf="open; else closed" class="input-container">
  <mat-form-field class="edit-input">
    <input gdrFocus matInput [matDatepicker]="picker" [formControl]="valueControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="action-buttons">
    <button mat-button color="primary" (click)="$event.stopPropagation(); cancel.emit()">CANCEL</button>
    <button mat-button color="primary" (click)="$event.stopPropagation(); save.emit(this.valueControl.value)">SAVE</button>
  </div>
</div>
<ng-template #closed>
  <span> {{valueControl.value | date }} </span>
</ng-template>