<div class="table-container">
  <ng-container>
    <app-table-header [options]="options" (insert)="onInsert()" (delete)="onDelete()"
      (filter)="this.dataSource.filter = $event" (cancel)="cancel.emit(data)" (save)="save.emit(data)">
    </app-table-header>
    <mat-divider></mat-divider>
  </ng-container>

  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let column of resolvedOptions?.columnTypes; index as j">
      <ng-container matColumnDef={{column.name}}>
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          {{column.name}} </th>
        <td [ngClass]="{'cell-missmatch': isMissmatch(element, column.name)}" (click)="onCellClick(editableValue, column.name)" mat-cell *matCellDef="let element; index as i">
          <div [style.position]="'relative'">
            <app-editable-value  #editableValue [value]="element[column.name]" class="editable-value"
              [type]="column.type" [options]="column.options"
              [ngClass]="{'edit-active': column.type !== 'table' && editableValue.open}"
              (save)="onUpdate(element, column.name, $event)" (modified)="onModification(element, column.name, $event)">
            </app-editable-value>
          </div>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsWithSelect"></tr>
    <tr [ngClass]="{'row-missmatch': isRowMissmatch(row)}" mat-row *matRowDef="let row; columns: columnsWithSelect;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 30, 50, 70, 90]" showFirstLastButtons>
  </mat-paginator>
</div>