<div class="table-header">
  <div>
    <button class="action-item" mat-button color="primary" (click)="insert.emit()"> <span
        class="mat-h3 mat-body-strong">
        INSERT </span> </button>
    <button class="action-item" mat-button color="primary" (click)="delete.emit()"> <span
        class="mat-h3 mat-body-strong">
        DELETE </span> </button>
    <mat-form-field class="filter" [floatLabel]="'never'">
      <input placeholder="filter" matInput (keyup)="filter.emit($event.target.value)">
    </mat-form-field>
  </div>
  <div>
    <button *ngIf="resolvedOptions.close" color="primary" mat-icon-button (click)="$event.stopPropagation(); cancel.emit()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>