<div *ngIf="open; else closed" class="input-container">
  <form [formGroup]="formGroup" *ngIf="open; else closed" class="edit-input">
    <mat-checkbox formControlName="checkBoxControl"></mat-checkbox>
  </form>
  <div class="action-buttons">
    <button mat-button color="primary" (click)="$event.stopPropagation(); cancel.emit()">CANCEL</button>
    <button mat-button color="primary" (click)="$event.stopPropagation(); save.emit(valueControl.value)">SAVE</button>
  </div>
</div>
<ng-template #closed>
  <div *ngIf="valueControl.value; else notTrue">
    <mat-icon>done</mat-icon>
  </div>
  <ng-template #notTrue>
    <div>
      <mat-icon>close</mat-icon>
    </div>
  </ng-template>
</ng-template>