<div *ngIf="open; else closed" [class.mat-elevation-z2]="true" class="input-container">
  <mat-form-field class="edit-input" (keyup.enter)="open = false">
    <input appFocus matInput type="number" [formControl]="valueControl">
  </mat-form-field>
  <div class="action-buttons">
    <button mat-button color="primary" (click)="$event.stopPropagation(); cancel.emit(); open = false">CANCEL</button>
    <button mat-button color="primary" (click)="$event.stopPropagation(); save.emit(valueControl.value); open = false">SAVE</button>
  </div>
</div>
<ng-template #closed>
  <span> {{valueControl.value}} </span>
</ng-template>