<div class="container" [ngSwitch]="type">
  <app-editable-text #editableValue *ngSwitchCase="'string'" [value]="initialValue" [options]="options"
    (save)="onSave($event)" (cancel)="onCancel($event)"></app-editable-text>
  <app-editable-text #editableValue *ngSwitchCase="'time'" [value]="initialValue" [options]="options"
    (save)="onSave($event)" (cancel)="onCancel($event)"></app-editable-text>
  <app-editable-number #editableValue *ngSwitchCase="'number'" [value]="initialValue" (save)="onSave($event)"
    (cancel)="onCancel($event)">
  </app-editable-number>
  <app-editable-date #editableValue *ngSwitchCase="'date'" [value]="initialValue" (save)="onSave($event)"
    (cancel)="onCancel($event)">
  </app-editable-date>
  <app-editable-table #editableValue *ngSwitchCase="'table'" [value]="initialValue" [options]="options"
    (save)="onSave($event)" (modified)="onModification($event)">
  </app-editable-table>
  <app-editable-boolean #editableValue *ngSwitchCase="'boolean'" [value]="initialValue" (save)="onSave($event)"
    (cancel)="onCancel($event)">
  </app-editable-boolean>
</div>